@import "../Components/Style/Style.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

h2{
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 57px; /* 142.5% */
    letter-spacing: 0.2px;
}
p{
    color: #000;
    font-family: poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; 
}
